body {
  --color-0: #000;
  --color-1: #121212;
  --color-2: #212121;
  --color-3: #333;
  --color-4: #4a4a4a;
  --color-5: #545454;
  --color-6: #666;
  --color-7: #757575;
  --color-8: #878787;
  --color-9: #999;
  --color-a: #a3a3a3;
  --color-b: #b2b2b2;
  --color-c: #ccc;
  --color-d: #d6d6d6;
  --color-e: #e5e5e5;
  --color-f2: #f2f2f2;
  --color-f: #fff;
  --color-r10: #0e6959;
  --color-r9: #0e6959;
  --color-r8: #0e6959;
  --color-r7: #ebb600;
  --color-r6: #ebb600;
  --color-r5: #ebb600;
  --color-r4: #ebb600;
  --color-r3: #b51851;
  --color-r2: #b51851;
  --color-r1: #b51851;
  --color-r0: #b2b2b2;
  --color-main: #00494f;
  --color-main-l1: #c8f6eb;
  --color-brand: #0e6959;
  --color-brand-l1: #c8f6eb;
  --color-minor: #ebb600;
  --color-minor-l1: #fff3cc;
  --color-link: #005da8;
  --color-link-l1: #c8f6eb;
  --color-link-hover: #005da8;
  --color-default: var(--color-2);
  --color-default-l1: var(--color-5);
  --color-default-bg: var(--color-f);
  --color-default-bg-l1: var(--color-f2);
  --color-default-border: var(--color-d);
  --color-default-border-l1: var(--color-e);
  --logo-loading: url(https://pi2.movoto.com/1.9.114/novaimgs/vimages/loading.svg);
  --logo-dark: url(https://pi2.movoto.com/1.9.114/novaimgs/vimages/movoto-logo.svg);
  --logo-light: url(https://pi2.movoto.com/1.9.114/novaimgs/vimages/movoto-logo-light.svg);
  --logo-m-dark: url(https://pi2.movoto.com/1.9.114/novaimgs/vimages/movoto-logo-m.svg);
  --logo-m-light: url(https://pi2.movoto.com/1.9.114/novaimgs/vimages/movoto-logo-m-light.svg);
  --movoto-font: "TWKLausanne";
  --border-radius: 12px;
  --card-width: 22.5rem;
  --img-ratio: 47.6%;
  --line-height-1: 1;
  --line-height-2: 1.25;
  --line-height-3: 1.5;
  --color: var(--color-default);
  --color-l1: var(--color-default-l1);
  --color-bg: var(--color-default-bg-l1);
  --color-bg-l1: var(--color-default-bg);
  --color-border: var(--color-default-border);
  --color-border-l1: var(--color-default-border-l1);
  --color-hover: var(--color-default);
  --color-bg-hover: var(--color-default-bg);
  --color-border-hover: var(--color-default-border);
  --color-active: var(--color-default-bg);
  --color-active-l1: var(--color-default-bg-l1);
  --color-bg-active: var(--color-default);
  --color-bg-active-l1: var(--color-default-l1);
  --color-border-active: var(--color-d);
  --color-border-active-l1: var(--color-e);
  --color-active-hover: var(--color-default-bg-l1);
  --color-bg-active-hover: var(--color-default-l1);
  --color-border-active-hover: var(--color-d);
  --color-gray: var(--color-default-l1);
  --color-disabled: var(--color-d);
  --color-disabled-bg: var(--color-4);
  --color-tip: #ebb600;
  --color-tip-l1: #fff3cc;
  --color-safe: #0e6959;
  --color-safe-l1: #e1fff9;
  --color-danger: #b51851;
  --color-danger-l1: #fff3ef;
  --font-size-0: 2rem;
  --font-size-1: 1.75rem;
  --font-size-2: 1.5rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.125rem;
  --font-size-5: 1rem;
  --font-size-6: 0.875rem;
  --font-size-7: 0.75rem;
  --font-size-8: 0.625rem;
  --font-size-0-letter-spacing: 0.02em;
  --font-size-1-letter-spacing: 0.02em;
  --font-size-2-letter-spacing: 0.03em;
  --font-size-3-letter-spacing: 0.02em;
  --font-size-4-letter-spacing: 0.02em;
  --font-size-5-letter-spacing: 0.03em;
  --font-size-6-letter-spacing: 0.04em;
  --font-size-7-letter-spacing: 0.04em;
  --font-size-8-letter-spacing: 0.05rem;
  --gxs: 0.25rem;
  --g0: 0.375rem;
  --g1: 0.5rem;
  --g2: 0.75rem;
  --g3: 1.25rem;
  --g4: 2rem;
  --g5: 3rem;
  --form-size-0: 1.5rem;
  --form-size-1: 2.0625rem;
  --form-size-2: 3rem;
  --form-size-3: 3.375rem;
  --form-size-4: 6.25rem;
  --panel-gap-x: var(--g2);
  --panel-gap-y: var(--g2);
  --section-gap-x: var(--g2);
  --section-gap-y: var(--g4);
  --font-weight-regular: 300;
  --font-weight-medium: 400;
  --font-weight-bold: 700;
  --grid-xs: repeat(1, minmax(80%, 1fr));
  --grid-sm: repeat(2, minmax(40%, 1fr));
  --grid-md: repeat(3, minmax(30%, 1fr));
  --grid-lg: repeat(4, minmax(20%, 1fr));
  --grid-xl: repeat(5, minmax(15%, 1fr));
  --grid-sm-fix-width: 26.25rem;
  --grid-md-fix-width: 28.75rem;
  --grid-lg-fix-width: 30rem;
  --color-poi: #38003e;
  --color-heart: #db2165;
  --color-cta: #abe629;
  --color-pop-info: #741b47;
  --color-outline-border: transparent
}
section.large {
  --section-gap-x: var(--g3);
}
.inline {
  --inline-color: var(--color);
  --inline-color-bg: var(--color-bg);
  --inline-color-border: var(--color-border);
  --inline-color-hover: var(--color-hover);
  --inline-color-bg-hover: var(--color-bg-hover);
  --inline-color-border-hover: var(--color-border-hover);
  --inline-color-active: var(--color-active);
  --inline-color-bg-active: var(--color-bg-active);
  --inline-color-border-active: var(--color-border-active);
  --inline-color-active-hover: var(--color-active-hover);
  --inline-color-bg-active-hover: var(--color-bg-active-hover);
  --inline-color-border-active-hover: var(--color-border-active-hover);
  --inline-border-weight: 1px;
  --inline-font-weight: var(--font-weight-medium);
  --inline-font-weight-active: var(--font-weight-medium);
  background-color: var(--inline-color-bg);
  color: var(--inline-color);
  margin-bottom: 0;
  margin-top: 0;
  padding: var(--panel-gap-y) var(--panel-gap-x);
}
section {
  margin: var(--section-gap-y) auto;
  padding-left: var(--section-gap-x);
  padding-right: var(--section-gap-x);
}
* {
  box-sizing: border-box;
}
section {
  display: block;
}
.fixed.fixed-max-sm {
  max-width: 991px;
}

.fixed {
  max-width: 1400px;
}
.fixed {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
section.large {
  --section-gap-x: var(--g3);
}
.grid {
  --grid-img-ratio: 66%;
  display: grid;
  gap: var(--panel-gap-y) var(--panel-gap-x);
  grid-template-columns: var(--grid-xs)
}
@media screen and (max-width:639px) {
  .grid {
    grid-template-columns: var(--grid-xs)
  }
}

@media(min-width:640px)and (max-width:991px) {
  .grid {
    grid-template-columns: var(--grid-sm)
  }
}

@media(min-width:992px)and (max-width:1399px) {
  .grid {
    grid-template-columns: var(--grid-md)
  }
}

@media(min-width:1400px)and (max-width:1599px) {
  .grid {
    grid-template-columns: var(--grid-lg)
  }
}
@media(min-width:1600px) {
  .grid {
    grid-template-columns: var(--grid-xl)
  }
}

.grid .wrap {
  grid-column: 1/-1
}

@media screen and (max-width:639px) {
  .grid .wrap-xs {
    grid-column: 1/-1
  }
}

@media(min-width:640px)and (max-width:991px) {
  .grid .wrap-sm {
    grid-column: 1/-1
  }
}

@media(min-width:992px)and (max-width:1399px) {
  .grid .wrap-md {
    grid-column: 1/-1
  }
}

@media(min-width:992px) {
  .grid .wrap-lg {
    grid-column: 1/-1
  }
}

.grid .grid-item-img {
  font-size: 0;
  padding-top: var(--grid-img-ratio);
  position: relative
}

.grid .grid-item-img img {
  height: 100%;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%
}
.grid.grid-xs-1 {
  --grid-xs: repeat(1, minmax(80%, 1fr));
  --grid-sm: repeat(1, minmax(80%, 1fr));
  --grid-md: repeat(1, minmax(80%, 1fr));
  --grid-lg: repeat(1, minmax(80%, 1fr));
  --grid-xl: repeat(1, minmax(80%, 1fr))
}
i.f1,
i.f2,
i.f3 {
  line-height: var(--line-height-1)
}

@media(min-width:992px) {
  .grid.grid-md-2 {
    --grid-md: repeat(2, minmax(40%, 1fr));
    --grid-lg: repeat(2, minmax(40%, 1fr));
    --grid-xl: repeat(2, minmax(40%, 1fr))
  }

  .grid.grid-md-3 {
    --grid-md: repeat(3, minmax(30%, 1fr));
    --grid-lg: repeat(3, minmax(30%, 1fr));
    --grid-xl: repeat(3, minmax(30%, 1fr))
  }

  .grid.grid-md-4 {
    --grid-md: repeat(4, minmax(20%, 1fr));
    --grid-lg: repeat(4, minmax(20%, 1fr));
    --grid-xl: repeat(4, minmax(20%, 1fr))
  }

  .grid.grid-md-5 {
    --grid-md: repeat(5, minmax(15%, 1fr));
    --grid-lg: repeat(5, minmax(15%, 1fr));
    --grid-xl: repeat(5, minmax(15%, 1fr))
  }

  .grid.grid-md-6 {
    --grid-md: repeat(6, minmax(12%, 1fr));
    --grid-lg: repeat(6, minmax(12%, 1fr));
    --grid-xl: repeat(6, minmax(12%, 1fr))
  }
}

@media(min-width:640px) {
  .grid.grid-sm-1 {
    --grid-sm: repeat(1, minmax(80%, 1fr));
    --grid-md: repeat(1, minmax(80%, 1fr));
    --grid-lg: repeat(1, minmax(80%, 1fr));
    --grid-xl: repeat(1, minmax(80%, 1fr))
  }

  .grid.grid-sm-2 {
    --grid-sm: repeat(2, minmax(40%, 1fr));
    --grid-md: repeat(2, minmax(40%, 1fr));
    --grid-lg: repeat(2, minmax(40%, 1fr));
    --grid-xl: repeat(2, minmax(40%, 1fr))
  }

  .grid.grid-sm-3 {
    --grid-sm: repeat(3, minmax(30%, 1fr));
    --grid-md: repeat(3, minmax(30%, 1fr));
    --grid-lg: repeat(3, minmax(30%, 1fr));
    --grid-xl: repeat(3, minmax(30%, 1fr))
  }

  .grid.grid-sm-4 {
    --grid-sm: repeat(4, minmax(20%, 1fr));
    --grid-md: repeat(4, minmax(20%, 1fr));
    --grid-lg: repeat(4, minmax(20%, 1fr));
    --grid-xl: repeat(4, minmax(20%, 1fr))
  }

  .grid.grid-sm-5 {
    --grid-sm: repeat(5, minmax(15%, 1fr));
    --grid-md: repeat(5, minmax(15%, 1fr));
    --grid-lg: repeat(5, minmax(15%, 1fr));
    --grid-xl: repeat(5, minmax(15%, 1fr))
  }

  .grid.grid-sm-6 {
    --grid-sm: repeat(6, minmax(12%, 1fr));
    --grid-md: repeat(6, minmax(12%, 1fr));
    --grid-lg: repeat(6, minmax(12%, 1fr));
    --grid-xl: repeat(6, minmax(12%, 1fr))
  }
}

body,
dd,
div,
dl,
dt,
figure,
form,
html,
input,
li,
ol,
p,
select,
span,
textarea,
ul {
  margin: 0;
  padding: 0;
}
.f3,
.h3 {
  font-size: var(--font-size-3);
  letter-spacing: var(--font-size-3-letter-spacing);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--font-size-5-letter-spacing);
  line-height: 1.25;
  margin: 0;
  padding: 0;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.fixed {
  margin-left: auto;
  margin-right: auto;
  width: 100%
}

@media screen and (min-width:992px) {
  .fixed {
    max-width: 991px
  }
}

@media screen and (min-width:1400px) {
  .fixed {
    max-width: 1400px
  }
}

@media screen and (max-width:991px) {
  .fixed.fixed-md {
    max-width: none
  }
}

@media screen and (max-width:1399px) {
  .fixed.fixed-lg {
    max-width: none
  }
}

.fixed.fixed-max-sm {
  max-width: 991px
}

.fixed.fixed-max-md {
  max-width: 1399px
}
.fixed.fixed-max-sm {
  max-width: 991px
}
.flex {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  gap: var(--panel-gap-y) var(--panel-gap-x);
  justify-content: space-between;
  margin: 0 auto;
  width: 100%
}

.flex.nowrap {
  overflow: hidden
}

.flex.nowrap>:not(.nowrap) {
  display: inline-block;
  flex-shrink: 0;
  flex-wrap: nowrap;
  overflow: hidden
}

.flex.nowrap>:not(.nowrap):last-child {
  flex-shrink: 1;
  text-overflow: ellipsis;
  white-space: nowrap
}

.flex.flex-scroll {
  -ms-overflow-style: none;
  overflow-x: auto;
  overflow-y: hidden;
  overflow: -moz-scrollbars-none;
  scroll-snap-type: x mandatory;
  scrollbar-width: none
}

.flex.flex-scroll::-webkit-scrollbar {
  display: none
}

.flex.flex-scroll>* {
  scroll-snap-align: start
}

.flex .noshrink {
  flex-shrink: 0
}

.flex.wrap {
  flex-wrap: wrap
}

.flex.vertical {
  align-items: center;
  flex-direction: column;
  gap: var(--panel-gap-x) var(--panel-gap-y)
}

.flex.vertical>div {
  width: 100%
}

.flex.small {
  gap: var(--g1) var(--g1)
}

.flex.large {
  gap: var(--g3) var(--g3)
}

.flex.normal {
  gap: var(--g2) var(--g2)
}

.flex.xlarge {
  gap: var(--g5) var(--g5)
}

.flex.nogap {
  gap: 0
}

@media screen and (max-width:639px) {
  .flex.vertical-xs {
    align-items: center;
    flex-direction: column
  }
}

@media screen and (min-width:640px) {
  .flex.vertical-sm {
    align-items: center;
    flex-direction: column
  }
}

@media(min-width:992px)and (max-width:1399px) {
  .flex.vertical-md {
    align-items: center;
    flex-direction: column
  }
}

@media screen and (min-width:1400px) {
  .flex.vertical-lg {
    align-items: center;
    flex-direction: column
  }
}

.flex.left {
  justify-content: flex-start
}

.flex.right {
  justify-content: flex-end
}

.flex.center {
  justify-content: center
}

.flex.space-around {
  justify-content: space-around
}

.flex.space-between {
  justify-content: space-between
}

.flex.top {
  align-items: flex-start
}

.flex.middle {
  align-items: center
}

.flex.baseline {
  align-items: baseline
}

.flex.bottom {
  align-items: flex-end
}

.flex .stretch {
  align-self: stretch
}

@media screen and (max-width:639px) {
  .flex .flex-xs-1 {
    flex-basis: 0%;
    flex-grow: 1
  }

  .flex .flex-xs-2 {
    flex-basis: 8.33333%;
    flex-grow: 2
  }

  .flex .flex-xs-3 {
    flex-basis: 16.66667%;
    flex-grow: 3
  }

  .flex .flex-xs-4 {
    flex-basis: 25%;
    flex-grow: 4
  }

  .flex .flex-xs-5 {
    flex-basis: 33.33333%;
    flex-grow: 5
  }

  .flex .flex-xs-6 {
    flex-basis: 41.66667%;
    flex-grow: 6
  }

  .flex .flex-xs-7 {
    flex-basis: 50%;
    flex-grow: 7
  }

  .flex .flex-xs-8 {
    flex-basis: 58.33333%;
    flex-grow: 8
  }

  .flex .flex-xs-9 {
    flex-basis: 66.66667%;
    flex-grow: 9
  }

  .flex .flex-xs-10 {
    flex-basis: 75%;
    flex-grow: 10
  }

  .flex .flex-xs-11 {
    flex-basis: 83.33333%;
    flex-grow: 11
  }

  .flex .flex-xs-12 {
    flex-basis: 91.66667%;
    flex-grow: 12
  }
}

@media(min-width:640px)and (max-width:991px) {
  .flex .flex-sm-1 {
    flex-basis: 0%;
    flex-grow: 1
  }

  .flex .flex-sm-2 {
    flex-basis: 8.33333%;
    flex-grow: 2
  }

  .flex .flex-sm-3 {
    flex-basis: 16.66667%;
    flex-grow: 3
  }

  .flex .flex-sm-4 {
    flex-basis: 25%;
    flex-grow: 4
  }

  .flex .flex-sm-5 {
    flex-basis: 33.33333%;
    flex-grow: 5
  }

  .flex .flex-sm-6 {
    flex-basis: 41.66667%;
    flex-grow: 6
  }

  .flex .flex-sm-7 {
    flex-basis: 50%;
    flex-grow: 7
  }

  .flex .flex-sm-8 {
    flex-basis: 58.33333%;
    flex-grow: 8
  }

  .flex .flex-sm-9 {
    flex-basis: 66.66667%;
    flex-grow: 9
  }

  .flex .flex-sm-10 {
    flex-basis: 75%;
    flex-grow: 10
  }

  .flex .flex-sm-11 {
    flex-basis: 83.33333%;
    flex-grow: 11
  }

  .flex .flex-sm-12 {
    flex-basis: 91.66667%;
    flex-grow: 12
  }
}

@media screen and (min-width:992px)and (max-width:1399px) {
  .flex .flex-md-1 {
    flex-basis: 0%;
    flex-grow: 1
  }

  .flex .flex-md-2 {
    flex-basis: 8.33333%;
    flex-grow: 2
  }

  .flex .flex-md-3 {
    flex-basis: 16.66667%;
    flex-grow: 3
  }

  .flex .flex-md-4 {
    flex-basis: 25%;
    flex-grow: 4
  }

  .flex .flex-md-5 {
    flex-basis: 33.33333%;
    flex-grow: 5
  }

  .flex .flex-md-6 {
    flex-basis: 41.66667%;
    flex-grow: 6
  }

  .flex .flex-md-7 {
    flex-basis: 50%;
    flex-grow: 7
  }

  .flex .flex-md-8 {
    flex-basis: 58.33333%;
    flex-grow: 8
  }

  .flex .flex-md-9 {
    flex-basis: 66.66667%;
    flex-grow: 9
  }

  .flex .flex-md-10 {
    flex-basis: 75%;
    flex-grow: 10
  }

  .flex .flex-md-11 {
    flex-basis: 83.33333%;
    flex-grow: 11
  }

  .flex .flex-md-12 {
    flex-basis: 91.66667%;
    flex-grow: 12
  }
}

@media screen and (min-width:1400px) {
  .flex .flex-lg-1 {
    flex-basis: 0%;
    flex-grow: 1
  }

  .flex .flex-lg-2 {
    flex-basis: 8.33333%;
    flex-grow: 2
  }

  .flex .flex-lg-3 {
    flex-basis: 16.66667%;
    flex-grow: 3
  }

  .flex .flex-lg-4 {
    flex-basis: 25%;
    flex-grow: 4
  }

  .flex .flex-lg-5 {
    flex-basis: 33.33333%;
    flex-grow: 5
  }

  .flex .flex-lg-6 {
    flex-basis: 41.66667%;
    flex-grow: 6
  }

  .flex .flex-lg-7 {
    flex-basis: 50%;
    flex-grow: 7
  }

  .flex .flex-lg-8 {
    flex-basis: 58.33333%;
    flex-grow: 8
  }

  .flex .flex-lg-9 {
    flex-basis: 66.66667%;
    flex-grow: 9
  }

  .flex .flex-lg-10 {
    flex-basis: 75%;
    flex-grow: 10
  }

  .flex .flex-lg-11 {
    flex-basis: 83.33333%;
    flex-grow: 11
  }

  .flex .flex-lg-12 {
    flex-basis: 91.66667%;
    flex-grow: 12
  }
}
a {
  --link-style: none;
  --link-color: var(--color-link);
  --link-color-hover: var(--color-link-hover);
  --link-hover-style: none;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
a:visited {
  color: inherit;
  text-decoration: none;
}
a,
a:active {
  color: inherit;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
#body .img-bg {
  position: relative;
}
#body .img-bg>img,
#body .img-small {
  -o-object-fit: cover;
  object-fit: cover;
}
#body .img-bg>img {
  background: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
#body .corner {
  border-radius: var(--border-radius);
}
@media screen and (min-width:640px) {

  .panel-img .corner,
  .panel-img.corner {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important
  }
}
@media screen and (max-width:639px) {
  .panel-img {
    max-height: 14rem
  }

  .panel-img .corner,
  .panel-img.corner {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important
  }
}
.textbox.corner {
  --textbox-textarea-radius: var(--border-radius)
}
.lazyload.img-load-success~.img-loading {
  display: none
}
img {
  border: 0;
}

.text-bold {
  font-weight: var(--font-weight-bold);
}
.f5,
.h5 {
  font-size: var(--font-size-5);
  letter-spacing: var(--font-size-5-letter-spacing);
}
#body .img-bg {
  position: relative
}

#body .img-bg>img {
  background: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1
}

#body .img-bg>img,
#body .img-small {
  -o-object-fit: cover;
  object-fit: cover
}
[class*=" icon-"],
[class^=icon-] {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: fonticon !important;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  text-transform: none;
}
i {
  text-align: center;
}
i {
  font-style: italic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--font-size-5-letter-spacing);
  line-height: 1.25;
  margin: 0;
  padding: 0;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
#body.movoto-CW-11418_on .inline.outline {
  box-shadow: 0 0 0 1px var(--inline-color-border);
}
#body .bg-white {
  background-color: var(--color-f);
  color: var(--color-2);
}
.outline {
  border: 1px solid var(--color-outline-border);
}
.circle.huge,
.circle.large {
  --circle-border-weight: 2px;
}
.circle.large {
  font-size: var(--font-size-2);
  height: var(--form-size-3);
  width: var(--form-size-3);
}
.circle,
.circle:link,
.circle:visited {
  background-color: var(--circle-color-bg);
  box-shadow: inset 0 0 0 var(--circle-border-weight) var(--circle-color-border);
  color: var(--circle-color);
  font-weight: var(--circle-font-weight);
}
.circle {
  --circle-color: var(--color);
  --circle-color-bg: var(--color-bg);
  --circle-color-border: var(--color-border);
  --circle-color-hover: var(--color-hover);
  --circle-color-bg-hover: var(--color-bg-hover);
  --circle-color-border-hover: var(--color-border-hover);
  --circle-color-active: var(--color-active);
  --circle-color-bg-active: var(--color-bg-active);
  --circle-color-border-active: var(--color-border-active);
  --circle-color-active-hover: var(--color-active-hover);
  --circle-color-bg-active-hover: var(--color-bg-active-hover);
  --circle-color-border-active-hover: var(--color-border-active-hover);
  --circle-border-weight: 1px;
  --circle-font-weight: var(--font-weight-medium);
  --circle-font-weight-active: var(--font-weight-medium);
  align-items: center;
  border: none;
  border-radius: 50%;
  display: inline-flex;
  flex: initial !important;
  flex-shrink: 0 !important;
  font-size: var(--font-size-3);
  font-size: var(--font-size-5);
  height: var(--form-size-2);
  justify-content: center;
  letter-spacing: var(--font-size-3-letter-spacing);
  min-width: auto !important;
  width: var(--form-size-2);
}
#body .bg-default {
  background-color: var(--color-default-bg);
  color: var(--color-default);
}
.inline.welcome {
  position: relative;
  z-index: 1;
}
.inline.large {
  padding: var(--g4) var(--g3);
}
.grid.middle {
  align-items: center;
  align-self: center;
}
.grid.large {
  gap: var(--g3) var(--g3);
}
.object-contain {
  -o-object-fit: contain;
  object-fit: contain;
}
.panel-img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
#body .default {
  --color: var(--color-default);
  --color-bg: var(--color-default-bg);
  --color-border: var(--color-default);
  --color-hover: var(--color-default);
  --color-bg-hover: var(--color-default-bg-l1);
  --color-border-hover: var(--color-default);
  --color-active: var(--color-default-bg);
  --color-bg-active: var(--color-default);
  --color-border-active: var(--color-default);
  --color-active-hover: var(--color-default-bg);
  --color-bg-active-hover: var(--color-default-l1);
  --color-border-active-hover: var(--color-default);
}
.inline.welcome .input-geo {
  max-width: 28.75rem;
}
.input.large {
  --input-font-size: var(--font-size-4);
  --input-size: var(--form-size-3);
  --input-gap: var(--g2);
  --input-icon-size: var(--form-size-3);
  --input-icon-lineheight: 3;
  --input-icon-scale: 1.5;
}
.input {
  --input-color: var(--color-default);
  --input-color-bg: var(--color-default-bg);
  --input-color-border: var(--color-default-border);
  --input-font-size: var(--font-size-5);
  --input-size: var(--form-size-2);
  --input-gap: var(--g1);
  --input-icon-lineheight: 2;
  --input-icon-scale: 1.5;
  --input-icon-size: var(--form-size-2);
  --input-border-radius: calc(var(--input-size)/2);
  color: var(--input-color);
  display: block;
  font-size: var(--input-font-size);
  position: relative;
}
.input-geo.input input {
  padding-left: var(--g2);
}
.input.right>input,
.input.right>select {
  padding-right: var(--input-icon-size);
}
.input>input,
.input>select {
  --input-gap: var(--g1);
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--input-color-bg);
  border: none;
  border-radius: var(--input-border-radius);
  box-shadow: 0 0 0 1px var(--input-color-border);
  color: var(--input-color);
  font-size: inherit;
  min-height: var(--input-size);
  padding-left: var(--g2);
  padding-right: var(--g2);
  width: 100%;
}
input,
select {
  text-overflow: ellipsis;
}
button,
input,
select,
textarea {
  color: var(--color);
  font-family: var(--movoto-font), "Helvetica", Arial, sans-serif;
  font-size: var(--font-size-5);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--font-size-5-letter-spacing);
  line-height: var(--line-height-3);
  outline: none;
}
#body .main {
  --color: var(--color-main);
  --color-bg: var(--color-main-l1);
  --color-border: var(--color-main);
  --color-hover: var(--color-main);
  --color-bg-hover: var(--color-main-l1);
  --color-border-hover: var(--color-main);
  --color-active: var(--color-default-bg);
  --color-bg-active: var(--color-main);
  --color-border-active: var(--color-main);
  --color-active-hover: var(--color-default-bg);
  --color-bg-active-hover: var(--color-main);
  --color-border-active-hover: var(--color-main);
}
.inline.welcome .input-geo .btn {
  border-radius: calc(var(--form-size-2)/2);
  font-size: var(--font-size-5);
  height: var(--form-size-2);
  min-width: var(--form-size-3);
  padding: var(--g2);
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  width: -moz-fit-content;
  width: fit-content;
}
.inline.welcome .btn {
  max-width: 22rem;
}
.input.right>input~a,
.input.right>input~button,
.input.right>input~i,
.input.right>input~label,
.input.right>select~a,
.input.right>select~button,
.input.right>select~i,
.input.right>select~label {
  left: auto;
  right: 0;
}
.input>.btn {
  --btn-gap: var(--input-gap);
  --btn-font-size: var(--input-font-size);
  --btn-size: var(--input-size);
  box-shadow: none;
  margin: 0 !important;
  min-width: auto;
}
.btn.active {
  background-color: var(--btn-color-bg-active);
  box-shadow: inset 0 0 0 var(--btn-border-weight) var(--btn-color-border-active);
  color: var(--btn-color-active);
  font-weight: var(--btn-font-weight-active);
}
.btn,
.btn:link,
.btn:visited {
  background-color: var(--btn-color-bg);
  box-shadow: inset 0 0 0 var(--btn-border-weight) var(--btn-color-border);
  color: var(--btn-color);
  font-weight: var(--btn-font-weight);
}
.input>a,
.input>button,
.input>i {
  font-size: var(--input-font-size);
  height: var(--input-size);
  overflow: hidden;
  padding-bottom: var(--input-gap);
  padding-top: var(--input-gap);
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  top: 0;
  vertical-align: baseline;
  white-space: nowrap;
  width: 100%;
  width: var(--input-icon-size);
  z-index: 1;
}

.btn {
  --btn-color: var(--color);
  --btn-color-bg: var(--color-bg);
  --btn-color-border: var(--color-border);
  --btn-color-hover: var(--color-hover);
  --btn-color-bg-hover: var(--color-bg-hover);
  --btn-color-border-hover: var(--color-border-hover);
  --btn-color-active: var(--color-active);
  --btn-color-bg-active: var(--color-bg-active);
  --btn-color-border-active: var(--color-border-active);
  --btn-color-active-hover: var(--color-active-hover);
  --btn-color-bg-active-hover: var(--color-bg-active-hover);
  --btn-color-border-active-hover: var(--color-border-active-hover);
  --btn-border-weight: 1px;
  --btn-font-weight: var(--font-weight-medium);
  --btn-font-weight-active: var(--font-weight-medium);
  --btn-gap: var(--g2);
  --btn-font-size: var(--font-size-5);
  --btn-size: var(--form-size-2);
  --btn-width: 15rem;
  --btn-border-weight: 2px;
  border: none;
  border-radius: var(--btn-size);
  cursor: pointer;
  display: block;
  font-size: var(--btn-font-size);
  height: var(--btn-size);
  line-height: var(--line-height-3);
  max-width: 100%;
  min-width: var(--btn-size);
  opacity: 1;
  overflow: hidden;
  padding: var(--btn-gap) var(--g2);
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  transition: opacity .1s ease-in-out;
  white-space: nowrap;
  width: var(--btn-width)
}
