root {
    --rh-global-color-primary: #1ea69a;
    --rh-global-color-primary-rgb: 30, 166, 154;
    --rh-global-color-primary-light: #77e6dd;
    --rh-global-color-primary-dark: #0b8278;
    --rh-global-color-secondary: #ea723d;
    --rh-global-color-secondary-rgb: 234, 114, 61;
    --rh-global-color-secondary-light: #f9d6c7;
    --rh-global-color-secondary-dark: #ea5819;
    --rh-global-color-text: #808080;
    --rh-global-color-headings: #1a1a1a;
    --rh-global-color-headings-hover: #ea723d;
    --rh-global-color-link: #444;
    --rh-global-color-link-hover: #ea723d;
    --rh-color-black: #000;
    --rh-color-white: #fff;
    --rh-body-bg-color: #F7F7F7;
    --rh-banner-bg-color: #303030;
    --rh-footer-bg-color: #303030;
    --rh-small-border-radius: 4px;
    --rh-medium-border-radius: 8px;
    --rh-large-border-radius: 12px
}
.rh_section {
    display: block;
    text-align: center;
}
@media(min-width:1140px) {
    .rh_wrap--topPadding {
        padding-top: 6rem;
    }
}

@media(min-width:768px) {
    .rh_wrap--topPadding {
        padding-top: 5rem;
    }
}

@media(min-width:480px) {
    .rh_wrap--topPadding {
        padding-top: 3rem;
    }
}
.rh_wrap--topPadding {
    padding-top: 2rem;
}

@media(min-width:1280px) {
    .rh_wrap--padding {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

@media(min-width:1140px) {
    .rh_wrap--padding {
        padding-left: 7rem;
        padding-right: 7rem;
    }
}

@media(min-width:480px) {
    .rh_wrap--padding {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
.rh_wrap--padding {
    padding: 0 10rem;
    max-width: 1440px;
    margin: 0 auto;
}
.rh_wrap {
    position: relative;
    z-index: 0;
    margin: 0 auto;
    min-height: 100vh;
}

@media(min-width:1024px) {
    .rh_page {
        padding-bottom: 8rem;
    }
}
.rh_page {
    padding: 0 0 3rem;
}
.rh_page__contact {
    background: #fff;
}
.rh_page__contact .rh_blog {
    padding: 0
}

@media(min-width: 768px) {
    .rh_page__contact .rh_blog {
        padding: 2rem 0 0 0
    }
}
.rh_blog__single {
    background: #fff;
}
.rh_blog__single .rh_blog__post {
    margin: 0;
}
.rh_blog__post {
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: left;
    margin: 0 0 3rem 0;
}
@media(min-width: 320px) {
    .rh_page__contact .entry-content {
        padding: 2rem 2.5rem 0
    }
}

@media(min-width: 768px) {
    .rh_page__contact .entry-content {
        padding: 2rem 3rem
    }
}
.entry-content {
    padding: 2rem 2.5rem
}

@media(min-width: 768px) {
    .entry-content {
        padding: 2rem 3rem
    }
}
.rh_content,
.commentlist article .comment-detail-wrap .comment-body {
    font-size: 1.5rem;
    font-weight: inherit;
    line-height: 2;
    text-align: left;
    margin-bottom: 1rem;
}
.rh_contact {
    display: flex;
    margin-bottom: 5rem;
    text-align: left
}

@media(min-width: 1140px) {
    .rh_contact {
        margin-bottom: 0
    }
}
.rh_contact__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 0 2.5rem
}

@media(min-width: 768px) {
    .rh_contact__wrap {
        padding: 0 3rem 5rem
    }
}
.rh_contact__form {
    width: 100%;
    padding: 0 2rem
}

@media(min-width: 1024px) {
    .rh_contact__form {
        width: 50%
    }
}
.rh_contact__form .contact-form {
    display: flex;
    flex-wrap: wrap;
}
.rh_contact__form .rh_contact__input {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.rh_contact__form .rh_contact__input input,
.rh_contact__form .rh_contact__input textarea {
    display: block;
    width: 100%;
    color: gray;
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 1.5rem;
    background-clip: padding-box;
    box-shadow: none;
    border: 1px solid rgba(128, 128, 128, .2);
    margin-bottom: 1.5rem;
    transition: .2s all linear;
}
button,
[type=button],
[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=reset],
[type=search],
[type=submit],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
select,
textarea {
    min-height: 1.5em;
}
input,
textarea {
    padding: .5rem;
    outline: 0;
    box-shadow: none;
}
dl,
ol,
ul,
table,
pre,
figure,
legend,
input,
textarea,
button,
label,
select {
    font-size: 1.5rem;
    font-weight: inherit;
    line-height: 1.2;
}
button,
input,
select,
textarea {
    color: inherit;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
}
button,
input,
select,
textarea {
    background-color: rgba(0, 0, 0, 0);
}
button,
input {
    overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
}
.rh_contact__form .rh_contact__input textarea {
    line-height: 2;
}
.rh_inspiry_gdpr {
    width: 100%;
    display: block;
    margin-bottom: 1.5rem;
}
.clearfix {
    *zoom: 1;
}
.rh_contact__form .rh_contact__input label,
.rh_contact__form .gdpr-checkbox-label {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--rh-global-color-headings);
}
.rh_inspiry_gdpr .gdpr-checkbox-label {
    display: block;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: .5rem;
}
.rh_sidebar .ere_widget_contact_form p>label:not([for^=inspiry-gdpr]),
.rh_sidebar .ere_widget_contact_form .rh_agent_form .rh_agent_form__row>label:not([for^=inspiry-gdpr]),
.rh_agent_form .rh_sidebar .ere_widget_contact_form .rh_agent_form__row>label:not([for^=inspiry-gdpr]),
.rh_inspiry_gdpr .gdpr-checkbox-label {
    color: #1a1a1a;
}
span {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.2;
}
.rh_inspiry_gdpr input {
    width: auto;
    margin: 4px 0 0;
}
.rh_inspiry_gdpr input {
    float: left;
}
[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
}
.rh_inspiry_gdpr label {
    width: calc(100% - 25px);
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 0 !important;
    line-height: 1.4;
    color: inherit;
}
dl,
ol,
ul,
table,
pre,
figure,
legend,
input,
textarea,
button,
label,
select {
    font-size: 1.5rem;
    font-weight: inherit;
    line-height: 1.2;
}
.rh_contact__form .rh_contact__input input,
.rh_contact__form .rh_contact__input textarea {
    display: block;
    width: 100%;
    color: gray;
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 1.5rem;
    background-clip: padding-box;
    box-shadow: none;
    border: 1px solid rgba(128, 128, 128, .2);
    margin-bottom: 1.5rem;
    transition: .2s all linear;
}
input,
textarea {
    padding: .5rem;
    outline: 0;
    box-shadow: none;
}
.rh_contact__details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 2rem;
    margin-top: 2rem
}

@media(min-width: 1024px) {
    .rh_contact__details {
        width: 50%;
        margin-top: 6px
    }
}
.rh_contact__details .rh_contact__item {
    margin-bottom: 2.5rem;
}
.rh_contact__details .rh_contact__item .icon {
    float: left;
    display: inline-block;
    width: 2rem;
    margin-right: 1.5rem;
}
.rh_contact__details .rh_contact__item .content {
    display: table;
}
.rh_contact__details .rh_contact__item .label {
    display: block;
    margin-bottom: .8rem;
    font-size: 1.4rem;
    color: var(--rh-global-color-headings);
}
span {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.2;
}